<html>

<head>
    <title>Neha Gupta | Blogs</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../css/main.css" rel="stylesheet">   
    <link href="../../assets/favicon.ico" rel="icon">
</head>

<body>
    <nav class="navigation">
        <div class="container-fluid">
            <div class="brand-name"><i> < Neha Gupta /></i></div>
            <ul class="no-bullet -inline">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/components/about/about.html">About</a>
                </li>
                <li>
                    <a href="/components/projects/projects.html">Projects</a>
                </li>
                <li>
                    <a href="/components/blogs/blogs.html" class="active">Blogs</a>
                </li>
            </ul>
        </div>
    </nav>
        <header class="site-header">
            
            <h1>
                Read my <span class="colored-text">blogs</span> here.
            </h1>
            <img src="../../assets/blogs.svg">
            <h3>
                I've just started blogging and documenting my journey. Hope you like it!
            </h3>
        </header>

        <ul class="no-bullet container">
            <li>
                <article class="article">
                    <h2>Build your own Shakespeare Translation Web App with JavaScript Fetch API</h2>
                    <small>April, 2021</small>
                    <p>I've always been curious about how Shakespeare would've expressed my thoughts in his words. Have you been too??
                        Learn how to build English to Shakespeare text translator using with JavaScript Fetch API.
                    </p>       
                    <a href="https://dev.to/nayyyhaa/build-your-own-shakespeare-translation-web-app-with-javascript-fetch-api-loo" class="primary-link">Read blog</a>
                </article>
            </li>
        </ul>
        <footer class="footer">
            <div>connect with me on socials
                <ul class="no-bullet -inline">
                    <li>
                        <a href="https://www.linkedin.com/in/nayyyhaa/">@linkedin</a>
                    </li>
                    <li>
                        <a href="https://github.com/nayyyhaa">@github</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/nayyyhaa">@twitter</a>
                    </li>
                </ul>
            </div>
        </footer>
   
</body>

</html>