<html>

<head>
    <title>Neha Gupta | Projects</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../css/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navigation">
        <div class="container-fluid">
            <div class="brand-name"><i> < Neha Gupta /></i></div>
            <ul class="no-bullet -inline">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/components/about/about.html">About</a>
                </li>
                <li>
                    <a href="/components/projects/projects.html">Projects</a>
                </li>
                <li>
                    <a href="/components/blogs/blogs.html" class="active">Blogs</a>
                </li>
            </ul>
        </div>
    </nav>
        <header class="site-header">
            
            <h1>
                Read my <span class="colored-text">blogs</span> here.
            </h1>
            <img src="../../assets/blogs.svg">
            <h3>
                I've just started blogging and documenting my journey. Hope you like it!
            </h3>
        </header>
        <hr>

        <ul class="no-bullet container">
            <li>
                <article class="article">
                    <h2>Learn component library</h2>
                    <small>7th, April, 2021</small>
                    <p> Basic component library for beginners to refer along.</p>       
                    <a href="/components/blogs/component.html" class="primary-link">Read blog</a>
                </article>
            </li>
        </ul>
        <footer class="footer">
            <div>connect with me on socials
                <ul class="no-bullet -inline">
                    <li>
                        <a href="https://www.linkedin.com/in/nayyyhaa/">@linkedin</a>
                    </li>
                    <li>
                        <a href="https://github.com/nayyyhaa">@github</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/nayyyhaa">@twitter</a>
                    </li>
                </ul>
            </div>
        </footer>
   
</body>

</html>