<html>

<head>
    <title>Neha Gupta | Projects</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../css/main.css" rel="stylesheet">
    <link href="../../assets/favicon.ico" rel="icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EKKH932BTD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EKKH932BTD');
    </script>
</head>

<body>
    <nav class="navigation">
        <div class="container-fluid">
            <div class="brand-name"><i> < Neha Gupta /></i></div>
            <ul class="no-bullet -inline">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/components/about/about.html">About</a>
                </li>
                <li>
                    <a href="/components/projects/projects.html" class="active">Projects</a>
                </li>
                <li>
                    <a href="/components/blogs/blogs.html">Blogs</a>
                </li>
            </ul>
        </div>
    </nav>
        <header class="site-header">
            <h1>
                Checkout my <span class="colored-text">projects!</span>
            </h1>
            <img src="../../assets/projects.svg">
            
        </header>

        <ul class="no-bullet container">
            <li>
                <article class="article">
                    <h2>Find My Destiny</h2>
                    <small>7th, April, 2021</small>
                    <p>Can you guess the correct number between 1 - 100?</p>
                    <p>It's a simple app created with concepts of VanillaJs</p>       
                    <a href="https://find-my-destiny.netlify.app/" class="primary-link">Live Project</a>
                    <a href="https://github.com/nayyyhaa/guess-the-number-game" class="secondary-link">View Source</a>
                </article>
            </li>
            <li>
                <article class="article">
                    <h2>NeneXone</h2>
                    <small>7th, April, 2021</small>
                    <p>Love to shop? Then check out the website that I made.</p>
                    <p>NeneXone is an e-commerce website made using the concepts of Angular.</p>       
                    <a href="https://nenexone.netlify.app/" class="primary-link">Live Project</a>
                    <a href="https://github.com/nayyyhaa/shopping-cart" class="secondary-link">View Source</a>
                </article>
            </li>
            <li>
                <article class="article">
                    <h2>My Piggy Bank</h2>
                    <small>7th, April, 2021</small>
                    <p>Always have trouble while managing your expenses? Worry not! MyPiggyBank is a web application helping you with finances.</p> 
                    <p>This website is created using VanillaJs.</p>      
                    <a href="https://mypiggybank.netlify.app/" class="primary-link">Live Project</a>
                    <a href="https://github.com/nayyyhaa/MyPiggyBank" class="secondary-link">View Source</a>
                </article>
            </li>
            <li>
                <article class="article">
                    <h2>Words Jungle</h2>
                    <small>7th, April, 2021</small>
                    <p>I struggle with understanding the meaning of some words. Do you too? If yes, then see this dictionary-app.</p> 
                    <p>Made using ReactJS with love.</p>      
                    <a href="https://words-jungle.netlify.app/" class="primary-link">Live Project</a>
                    <a href="https://github.com/nayyyhaa/dictionary-app" class="secondary-link">View Source</a>
                </article>
            </li>
            <li>
                <article class="article">
                    <h2>Do you know me?</h2>
                    <small>7th, April, 2021</small>
                    <p>A CLI app built with nodeJS. You can send this to your friends and find out who really knows you.</p>      
                    <a href="https://replit.com/@nayyyhaa/Kaun-hai-Neha" class="primary-link">Live Project</a>
                    <a href="https://github.com/nayyyhaa/do-you-know-me" class="secondary-link">View Source</a>
                </article>
            </li>
        </ul>
        <footer class="footer">
            <div>connect with me on socials
                <ul class="no-bullet -inline">
                    <li>
                        <a href="https://www.linkedin.com/in/nayyyhaa/">@linkedin</a>
                    </li>
                    <li>
                        <a href="https://github.com/nayyyhaa">@github</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/nayyyhaa">@twitter</a>
                    </li>
                </ul>
            </div>
        </footer>
   
</body>

</html>