<html>

<head>
    <title>Neha Gupta | About</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../css/main.css" rel="stylesheet">
    <link href="../../assets/favicon.ico" rel="icon">
</head>

<body>
    <nav class="navigation">
        <div class="container-fluid">
            <div class="brand-name"><i> < Neha Gupta /></i></div>
            <ul class="no-bullet -inline">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/components/about/about.html" class="active">About</a>
                </li>
                <li>
                    <a href="/components/projects/projects.html">Projects</a>
                </li>
                <li>
                    <a href="/components/blogs/blogs.html">Blogs</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-about -row">
        <div class="col">

            <h3 class="colored-text -title">About</h3>
            <div class="about-item">
                <h3>Neha Gupta</h3>
                <p> Every person has their unique story. Here is a glimpse into mine.
                    My name is <span class="colored-text">Neha Gupta</span>. I am a <span class="colored-text">full stack Web Developer</span>.</p>
                <p>While here, I grew interest in Websites and started learning about them on my own and one thing led to another and made me a Web developer.</p>
                
                <p>Feel free to explore the rest of my page as I hope you enjoy reading it as much as I have enjoyed creating it!</p>
                <!-- <p>I love the beauty of problem solving. Hence, sudoku and coding questions on leet code and Hackerrank are my mates. For programming, I am proficient in Java, C++ and Python. </p>
                <ul>
                    <li>Noida, India</li>
                    <li>nehaguptang.ng@gmail.com</li>
                </ul> -->
            </div>
            
        </div>
        <div class="col -noflex">
            <img class="profile" src="../../assets/neha.jpeg">
        </div> 
    </div>
    <section class="section -ow">
        <h3 class="colored-text -title">Skills</h3>
        <div class="about-section flex-about -row">
            <ul class="skills no-bullet">
                <li><h5>HTML5 / CSS3</h5></li>
                <li><h5>JavaScript</h5></li>
                <li><h5>Reactjs</h5></li>
                <li><h5>NodeJS/ExpressJs</h5></li>
                <li><h5>MongoDB</h5></li>
                
            </ul>
            <ul class="skills no-bullet">
                <li><h5>Angular</h5></li>
                <li><h5>Bootstrap / MaterializeCSS</h5></li>
                <li><h5>C++</h5></li>
                <li><h5>Java</h5></li>
                <li><h5>Spring Boot</h5></li>
            </ul>
        </div>
        </div>
        </section>
    
    <footer class="footer">
        <div>connect with me on socials
            <ul class="no-bullet -inline">
                <li>
                    <a href="https://www.linkedin.com/in/nayyyhaa/">@linkedin</a>
                </li>
                <li>
                    <a href="https://github.com/nayyyhaa">@github</a>
                </li>
                <li>
                    <a href="https://twitter.com/nayyyhaa">@twitter</a>
                </li>
            </ul>
        </div>
    </footer>
   
</body>

</html>