<html>

<head>
    <title>Neha Gupta | About</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../css/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navigation">
        <div class="container-fluid">
            <div class="brand-name"><i> < Neha Gupta /></i></div>
            <ul class="no-bullet -inline">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/components/about/about.html" class="active">About</a>
                </li>
                <li>
                    <a href="/components/projects/projects.html">Projects</a>
                </li>
                <li>
                    <a href="/components/blogs/blogs.html">Blogs</a>
                </li>
            </ul>
        </div>
    </nav>
        <header class="site-header">
            <img class="profile" src="../neha.jpeg">
            <h1>
                Hi, I'm <span class="colored-text">Neha Gupta</span>. I am <span class="colored-text">22</span> years old, living in <span class="colored-text">Delhi</span>.
            </h1>
            <h3>
                I am learning full stack development for now.
            </h3>
            <h5>
                connect w/ me @<a class="colored-text" href="https://nayyyhaa.github.io/">nayyhaa land</a>
            </h5>
        </header>

        <section class="section -ow">
            <h2>Technologies</h2>
            <p> Currently working on Angular based project and building up my skills in HTML5, CSS, Javascript and Typescript.</p>

            <p>I love the beauty of problem solving. Hence, sudoku and coding questions on leet code and Hackerrank are my mates. For programming, I am proficient in Java, C++ and Python. </p>          
        </section>

        <section class="section">
            <h2>Projects</h2>
            <p>Checkout my creations!</p>
            <a href="/components/projects/projects.html" class="secondary-link">Projects</a>
        </section>

        <section class="section -ow">
            <h2>Blogs</h2>
            <p>I like to write technical and non technical blogs. </p>
            <a href="/components/blogs/blogs.html" class="primary-link">Check blogs</a>
        </section>
        <footer class="footer">
            <div class="container">connect with me on socials
                <ul class="no-bullet -inline">
                    <li>
                        <a href="https://www.linkedin.com/in/nayyyhaa/">@linkedin</a>
                    </li>
                    <li>
                        <a href="https://github.com/nayyyhaa">@github</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/nayyyhaa">@twitter</a>
                    </li>
                </ul>
            </div>
        </footer>
   
</body>

</html>